<%= form_with(model: profile, url: profile_path,  local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Full Name
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="field">
    Upload a Picture
    <%= form.file_field :avatar, id: :profile_avatar_data %>
  </div>



  <div class="field">
    Upload your license
      <%= form.file_field :license_data, id: :profile_license_data %>
  </div>


  <div class="field">
    Give us some details about yourself.
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :profile_bio %>
  </div>

  <div class="field">
    Give us some details about your car, what year is it? Manual or Auto?
    <%= form.label :car %>
    <%= form.text_area :car, id: :profile_car %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
