<div class="page-wrapper">
	<p id="notice"><%= notice %></p>
	<div class="profile-grid">

		<!--left side grid  -->
		<div class="profile-box-left">

			<!-- text fields on left -->
			<div class="field">
				<p>
					<strong>Name:</strong>
        </p>
        <p>
					<%= @profile.name %>
				</p>
			</div>

      <div class="field">


			<p>
					<strong>Postcode:</strong>
			</p>
			<p>
				<%= @profile.postcode %>
			</p>
			</p>
    </div>

      	<div class="field">
					<!--bio  -->
      		<p>
      			<strong>Bio:</strong>
          </p>
          <p>
      			<%= @profile.bio %>
      		</p>
      	</div>

      	<div class="field">

					<!--car info  -->
      		<p>
      			<strong>Car:</strong>
          </p>
          <p>
      			<%= @profile.car %>
      		</p>
      	</div>

				<%= link_to 'Edit', edit_profile_path(@profile), class: "none" %>
				|
				<%= link_to 'Back', profile_path, class: "none" %>

		</div>

    <!-- pictures on the right -->
		<div class="profile-box-right">
			<div class="field">
				<p>
          <strong>Avatar</strong>
        </p>
					<p>
					<img src='<%=@profile.avatar_url  %>'>
				</p>

				<p>
					<strong>License:</strong>
        </p>
        <p>
					<img src='<%=@profile.license_url  %>'>
				</p>
			</div>

		</div>

	</div>





</div>
