<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Driving history check data:</strong>
  <%= @profile.driving_history_check_data %>
</p>

<p>
  <strong>Police check data:</strong>
  <%= @profile.police_check_data %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Car:</strong>
  <%= @profile.car %>
</p>

<p>
  <strong>Avatar data:</strong>
  <%= @profile.avatar_data %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>License data:</strong>
  <%= @profile.license_data %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
