<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Banner -->
	<section id="banner">
		<div class="logo">
			<%=  image_tag("logo.png", class: "logo") %>
		</div>
		<div>


		</div>
		<div class="inner">
			<br>
			<br>
			<h2>Koalified</h2>
			<p>Peer to Peer Driving Lessons.</p>
			<ul class="actions">
				<li>
					<!--Call to action  -->

					<% if user_signed_in? %>
				<li>
					<%= link_to('Go', go_url, class: "button Special", method: :get)  %>
				</li>
			<% else %>
				<%= button_to('Sign Up Now!', new_user_session_path, class: "button Special")  %>
			</li>
			<% end %>
		</li>
	</ul>
</div>
<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
<div class="inner">
	<header class="major">
		<h2>How Koalified Works</h2><br/>
		<p>Learners come to Koalified to accrue hours with one of our registered drivers.</p>
		<br/>
		<p>Drivers post their availabilities, you can direcly chat with them, and book a time.</p>
		<br/>
		<p>
			Lessons are $45 per hour
		</p>
		<p>
			Drivers keep $40.
		</p>
		<p>
			Fast, Simple, Effective.
		</p>
	</header>
	<ul class="icons major">
		<li>
			<span class="icon fa-car major style1">
				<span class="label">Lorem</span>
			</span>
		</li>
		<li>
			<span class="icon fa-dollar major style2">
				<span class="label">Ipsum</span>
			</span>
		</li>
		<li>
			<span class="icon fa-car major style3">
				<span class="label">Dolor</span>
			</span>
		</li>
	</ul>
</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
<section class="spotlight">
	<div class="image">
		<%= image_tag("L-plater.png")%>
	</div>
	<div class="content">
		<h2> Why Are we here?</h2>

		<p>
			Learners need 120 hours; including 20 hours at night often families are too busy, or don't have access to a car.
		</p>

		<p> Koalified lets you find someone willing to learn with them, in their car.
		</p>
	</div>
</section>
<section class="spotlight">
	<div class="image">
		<%= image_tag("keys.jpeg") %>
	</div>
	<div class="content">
		<h2>Why Be A Driver?</h2>
		<p> With Uber getting more and more strict on fare prices, and a majority of work at late hours, this is a great opportunity to earn some income and know you helped influence someones future.
		</p>
	</div>
</section>


<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header>
			<h2>Sign Up to get Koalified now.</h2>
			<p>Or sign up as one of our Koala Drivers</p>
		</header>
		<ul class="actions vertical">
			<li>
				<%= button_to('Sign Up Now!', new_user_session_path, class: "button Special orange")  %>
			</li>
			<li>
				Already a member?
				<%= button_to('Login', new_user_session_path, class: "button special")  %>
			</li>
		</ul>
	</div>
</section>


<!-- Footer -->
<footer id="footer">
<ul class="icons">
	<li>
		<a href="#" class="icon fa-twitter">
			<span class="label">Twitter</span>
		</a>
	</li>
	<li>
		<a href="#" class="icon fa-facebook">
			<span class="label">Facebook</span>
		</a>
	</li>
	<li>
		<a href="#" class="icon fa-instagram">
			<span class="label">Instagram</span>
		</a>
	</li>

</ul>

</footer>

</div>
