<div class="page-wrapper charcoal rounded">
	<box class="box alt">

		<!--Search box -->
		<%= form_tag(adverts_path, :method => "get") do %>
		<br><%= text_field_tag :search, params[:search], placeholder: "Choose a Day"%></br>
		<br><%= submit_tag "Search", class: 'btn' %></br>
		<% end %>

		<div class="row uniform ">

		<% @availabilities.each do |a| %>

			<div class="12u">
				<div class="card charcoal">
					<%= button_to "Book Now" %>
				</div>
				<div class="row uniform ">

				<div class="12u">
					<%= a.day.to_date.strftime("%A, %b %d") %>
					<%= a.start_time.strftime(" %l %p")  %>
					<%= a.user.profile.name %>
				</div>

				<% end %>
			</div>
		</div>

	</div>
