<p id="notice"><%= notice %></p>

<h1>Availabilities</h1>
<div class="table-wrapper">

	<table>
		<thead>
			<tr>
				<th>Day</th>
				<th>Start Time</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @availabilities.each do |availability| %>
			<% if availability.user == current_user %>
			<tr>
				<td><%= availability.day.to_date.strftime("%A, %b %d")  %></td>
				<!-- Raw time conversion from UTC, to time zone then convert display   -->
				<td><%= availability.start_time.strftime(" %l %p") %></td>
				<td><%= link_to 'Edit', edit_availability_path(availability) %></td>
				<td><%= link_to 'Delete this timeslot', availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<br>

<%= link_to 'New Availability', new_availability_path %>
