<p id="notice"><%= notice %></p>


<p>
  <strong>Day:</strong>
  <%= @availability.day.to_date.strftime("%A, %b %d") %>
</p>

<p>
  <strong>Start Time</strong>
  <%= @availability.start_time.strftime(" %l %p")  %>
</p>


<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
